.item {
    background-color: rgb(215, 215, 221);
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.online {
    background-color: green;
}

.offline {
    background-color: red;
}